@import url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css);.noSelect {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none; }

.aboutContainer {
  flex-direction: column;
  padding: 1em; }

.aboutParagraph {
  margin: 0.65em 0; }

.aboutEntry {
  display: block;
  border-spacing: 10px; }

.aboutHeader {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 0.5rem; }

.aboutSeparator {
  height: 1px;
  width: 100%;
  border: none;
  margin: 0.2rem 0; }
  .theme-light .aboutSeparator {
    background-color: black; }
  .theme-dark .aboutSeparator {
    background-color: white; }

.aboutSection {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Helvetica, Arial, sans-serif; }
  .theme-light .aboutSection {
    color: black; }
  .theme-dark .aboutSection {
    color: white; }

.theme-light .aboutSpoiler {
  background-color: #444444;
  color: #444444; }

.theme-dark .aboutSpoiler {
  background-color: #dcdcdc;
  color: #dcdcdc; }

.theme-light .aboutSpoiler:hover {
  color: #FFFFFF; }

.theme-dark .aboutSpoiler:hover {
  color: #0e0e0e; }

@media only screen and (max-width: 640px) {
  .aboutEntry-lcol, .aboutEntry-rcol, .aboutEntry-lcol-border {
    display: block; }
  .aboutEntry-rcol {
    padding-left: 20px; } }

@media only screen and (min-width: 641px) {
  .aboutEntry-lcol, .aboutEntry-rcol, .aboutEntry-lcol-border {
    display: table-cell; } }

.aboutEntry-lcol, .aboutEntry-lcol-border {
  padding-right: 10px; }
  @media only screen and (max-width: 640px) {
    .aboutEntry-lcol, .aboutEntry-lcol-border {
      display: block;
      margin: 10px 0px;
      text-align: start; } }
  @media only screen and (min-width: 641px) {
    .aboutEntry-lcol, .aboutEntry-lcol-border {
      width: 200px;
      text-align: end; } }

@media only screen and (max-width: 640px) {
  .aboutEntry-lcol-border {
    border-bottom: 1px solid gray; } }

@media only screen and (min-width: 641px) {
  .aboutEntry-lcol-border {
    border-right: 1px solid gray; } }

.aboutParagraphHeader {
  line-height: 1.2rem; }

.aboutContent {
  line-height: 1.5rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }

.linksContainer {
  flex-direction: column; }
  @media only screen and (max-width: 640px) {
    .linksContainer {
      padding: 0px 3px; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .linksContainer {
      padding: 0px 3px; } }
  @media only screen and (min-width: 1008px) {
    .linksContainer {
      padding: 0px 0px; } }

.linksTagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.linkTag {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 3px;
  user-select: none;
  cursor: pointer;
  /*opacity: 0.7;
    color:black;*/ }
  .theme-light .linkTag {
    color: rgba(0, 0, 0, 0.7); }
  .theme-dark .linkTag {
    color: rgba(220, 220, 220, 0.7); }

.linkTag.active {
  /*opacity: 1;*/
  font-weight: 400; }
  .theme-light .linkTag.active {
    color: black; }
  .theme-dark .linkTag.active {
    color: #dcdcdc; }

.linkTag::before {
  content: "#"; }

.linksFilter {
  width: fit-content;
  font-weight: 400;
  margin: 5px 0px;
  font-size: 1.2rem;
  user-select: none;
  cursor: pointer; }
  .theme-light .linksFilter {
    color: #444444; }
  .theme-dark .linksFilter {
    color: #dcdcdc; }

.linkTag:hover {
  text-decoration: underline; }

.linkName {
  overflow-y: hidden;
  user-select: none; }

.linkItem.disabled {
  display: none; }

.linkItem:hover .linkName:before {
  content: "\2C4";
  transform: scaleX(1.5);
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 20px;
  transition: 0.2s ease-in-out; }

.linkName:before {
  content: "\2C4";
  transform: rotate(180deg) scaleX(1.5);
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 20px;
  transition: 0.2s ease-in-out; }

.theme-light .linkItem:hover {
  border-color: black; }

.theme-dark .linkItem:hover {
  border-color: #dcdcdc; }

.linksList, .linkGroupItems {
  display: flex;
  flex-direction: column; }

.linksList {
  margin: 0px 0px; }

.linkGroupItems:hover > * {
  opacity: 0.15; }

.linkGroupItems:hover > .linkItem:hover {
  opacity: 1; }

.linkItem {
  position: relative;
  border-top: 2px solid;
  border-bottom: 2px solid; }
  .theme-light .linkItem {
    border-color: #FFFFFF; }
  .theme-dark .linkItem {
    border-color: #0e0e0e; }

.linkName {
  font-size: 1.2rem;
  display: block;
  font-weight: 400;
  white-space: nowrap;
  overflow-x: hidden;
  position: relative;
  text-overflow: ellipsis; }
  .theme-light .linkName {
    color: black; }
  .theme-dark .linkName {
    color: #dcdcdc; }

.theme-light .linkName:visited {
  color: #7442ec; }

.theme-dark .linkName:visited {
  color: #9879df; }

.linkName:hover {
  text-decoration: underline; }
  .theme-light .linkName:hover {
    color: gray; }
  .theme-dark .linkName:hover {
    color: gray; }

.linkTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.linkGroup.active {
  display: flex;
  flex-direction: column; }

.linkGroup {
  display: none; }

.linkGroupName {
  font-weight: 500;
  font-size: 1.25rem;
  user-select: none; }

.linkGroupItems {
  display: flex;
  flex-direction: column; }

.linkSearch {
  position: relative;
  align-self: center;
  width: 100%;
  max-width: 500px; }

.searchInput {
  padding-left: 1.96em;
  width: 100%; }

.searchIcon {
  position: absolute;
  left: 0;
  opacity: 0.5;
  margin: auto;
  display: block;
  text-align: center;
  color: black;
  display: flex;
  align-items: center;
  height: 100%;
  bottom: 0;
  padding: 0 0.3em; }

.modalBackground {
  z-index: 1000;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  justify-content: center;
  align-items: center; }

.modalWindow {
  border: 1px solid gray;
  background-color: white;
  z-index: 100;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  position: relative; }

.modalHeader {
  padding: 10px;
  display: block;
  width: 100%;
  height: auto;
  border-bottom: 1px solid gray;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0; }

.modalCloseButton {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px; }

.modalBody {
  padding: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto; }

.modalFooter {
  border-top: 1px solid gray;
  padding: 10px;
  justify-content: right;
  display: flex;
  width: 100%;
  height: 20px;
  flex-grow: 0;
  flex-shrink: 0; }

.noteImage {
  display: block;
  margin: auto;
  object-fit: contain;
  object-position: center;
  cursor: pointer; }
  @media only screen and (max-width: 640px) {
    .noteImage {
      max-width: 100%;
      max-height: 150px; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .noteImage {
      max-width: 60%;
      max-height: 200px; } }
  @media only screen and (min-width: 1008px) {
    .noteImage {
      max-width: 60%;
      max-height: 400px; } }

.noteFigure {
  text-align: center;
  /*font-size: .8rem;*/ }

.notesContainer {
  flex-direction: column;
  display: flex; }

.noteContainer {
  flex-direction: column;
  display: flex; }

.notes {
  display: flex;
  flex-direction: column; }

.notePreview {
  display: flex;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  flex-wrap: nowrap;
  padding: 0px 5px; }
  @media only screen and (max-width: 640px) {
    .notePreview {
      flex-direction: column; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .notePreview {
      flex-direction: row;
      align-items: center; } }
  @media only screen and (min-width: 1008px) {
    .notePreview {
      flex-direction: row;
      align-items: center; } }

.notePreviewDate {
  margin-right: 5px;
  white-space: nowrap; }

.notePreviewName {
  overflow: hidden; }

.noteHeaderLink {
  display: inline;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  display: block; }
  .theme-light .noteHeaderLink {
    color: #000; }
  .theme-dark .noteHeaderLink {
    color: #dcdcdc; }
  @media only screen and (max-width: 640px) {
    .noteHeaderLink {
      white-space: normal;
      overflow-wrap: break-word;
      word-break: break-all; } }

.noteHeaderLink:hover {
  text-decoration: none;
  width: 100%; }
  .theme-light .noteHeaderLink:hover {
    color: gray; }
  .theme-dark .noteHeaderLink:hover {
    color: #bd1111; }

.noteContent {
  padding: 0px 5px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }

.theme-light .noteDate, .theme-light .notePreviewDate {
  color: gray; }

.theme-dark .noteDate, .theme-dark .notePreviewDate {
  color: gray; }

.caption {
  text-align: center;
  font-size: .8rem; }

.noteHeader {
  margin: 0px 5px 10px;
  padding: 0px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid; }
  .theme-light .noteHeader {
    border-color: gray; }
  .theme-dark .noteHeader {
    border-color: gray; }

.noteName {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif; }
  .theme-light .noteName {
    color: #000; }
  .theme-dark .noteName {
    color: #dcdcdc; }

.theme-light .noteTable thead {
  background-color: #dedede; }

.theme-dark .noteTable thead {
  background-color: #565656; }

.noteTable th, .noteTable td {
  padding: 5px 10px;
  border: 1px solid gray; }

.theme-light .noteTable table {
  color: textColor; }

.theme-dark .noteTable table {
  color: textColor; }

.noteTable {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 5px; }

.paragraph {
  margin-bottom: 0.5rem;
  overflow-x: auto;
  overflow-y: hidden; }

.noteContent h1, .noteContent h2, .noteContent h3, .noteContent h4, .noteContent h5, .noteContent h6 {
  margin: 0 0 .5rem 0;
  font-weight: 500;
  line-height: 1.2; }

.noteContent h1 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaecef; }

.noteContent h2 {
  font-size: 1.25rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaecef; }

.noteContent h3 {
  font-size: 1.2rem; }

.noteContent h4 {
  font-size: 1.15rem; }

.noteContent h5 {
  font-size: 1.1rem; }

.noteContent h6 {
  font-size: 1.05rem; }

.tagCircle {
  align-self: center;
  border-radius: 5px;
  flex-shrink: 0; }

.tagCircle::before {
  content: "#";
  width: 10px;
  height: 10px; }

.tag {
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-weight: 300;
  padding: 3px 7px;
  margin: 3px 3px;
  border-radius: 0px;
  max-width: 100%;
  font-family: 'Helvetica', "Segoe UI", sans-serif; }
  .theme-light .tag {
    color: #000;
    background-color: #a2a2a2; }
  .theme-dark .tag {
    color: #dcdcdc;
    background-color: #1f1f1f; }

.theme-light .tag:hover {
  color: #fff;
  background-color: #595959; }

.theme-dark .tag:hover {
  color: #000;
  background-color: #FFF; }

.theme-light .tag.active {
  color: #fff;
  background-color: #2573d8; }

.theme-dark .tag.active {
  color: #dcdcdc;
  background-color: #bd1111; }

.theme-light .tag.active:hover {
  color: #fff;
  background-color: #23599e; }

.theme-dark .tag.active:hover {
  color: #000;
  background-color: #ab0c0c; }

.tagName {
  overflow: hidden;
  text-overflow: ellipsis; }

.postName {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0 5px;
  width: 100%;
  word-break: break-word;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; }
  .theme-light .postName {
    color: black; }
  .theme-dark .postName {
    color: #dcdcdc; }

.postHeaderLink {
  font-weight: 500;
  padding: 5px;
  overflow: hidden;
  max-width: 100%;
  text-align: center;
  flex-shrink: 0;
  position: relative;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; }
  .theme-light .postHeaderLink {
    color: black; }
  .theme-dark .postHeaderLink {
    color: #dcdcdc; }

.theme-light .postHeaderLink:hover {
  color: black; }

.theme-dark .postHeaderLink:hover {
  color: #bd1111; }

.postPreviewTags {
  display: flex;
  padding: 0px 10%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-grow: 0; }

.postPreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  opacity: 1.0;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 640px) {
    .postPreviewContainer {
      width: 100%; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .postPreviewContainer {
      width: 33.3333%; } }
  @media only screen and (min-width: 1008px) {
    .postPreviewContainer {
      width: 25%; } }

.postPreviewContainer.disabled {
  display: none; }

.postThumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  cursor: pointer; }
  @media only screen and (max-width: 640px) {
    .postThumbnail {
      height: auto;
      padding-bottom: 0;
      max-width: 300px; } }

.postThumbnailLink {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 640px) {
    .postThumbnailLink {
      position: relative;
      width: 100%;
      height: auto; } }

.postThumbnailImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center; }
  @media only screen and (max-width: 640px) {
    .postThumbnailImage {
      position: relative;
      height: auto;
      max-height: 250px; } }

.postsContainer {
  display: flex;
  flex-direction: column; }

.globalTagsContainer {
  display: flex;
  padding: 0px 5px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start; }

.posts {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap; }

.postContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.postMainImg {
  margin-bottom: 5px;
  object-fit: contain;
  object-position: center; }
  @media only screen and (max-width: 640px) {
    .postMainImg {
      width: 100%;
      max-height: 400px; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .postMainImg {
      width: 600px;
      max-height: 600px; } }
  @media only screen and (min-width: 1008px) {
    .postMainImg {
      width: 600px;
      max-height: 600px; } }

.postTags {
  display: flex;
  flex-direction: row;
  /*margin:5px 0px;*/
  flex-wrap: wrap;
  justify-content: center; }

.postDescription {
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }
  @media only screen and (max-width: 640px) {
    .postDescription {
      padding: 5px; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .postDescription {
      padding: 0px; } }
  @media only screen and (min-width: 1008px) {
    .postDescription {
      padding: 0px; } }

.postImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.postImgContainer {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative; }
  @media only screen and (max-width: 640px) {
    .postImgContainer {
      flex-basis: calc((100% - 4px) / 3);
      margin-right: 2px;
      margin-top: 2px; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .postImgContainer {
      flex-basis: calc((100% - 30px) / 4);
      margin-right: 10px;
      margin-top: 10px; } }
  @media only screen and (min-width: 1008px) {
    .postImgContainer {
      flex-basis: calc((100% - 100px) / 5);
      margin-right: 25px;
      margin-top: 25px; } }

@media only screen and (max-width: 640px) {
  .postImgContainer:nth-child(3n) {
    margin-right: 0px; }
  .postImgContainer:nth-child(-n+3) {
    margin-top: 0px; } }

@media only screen and (min-width: 641px) and (max-width: 1007px) {
  .postImgContainer:nth-child(4n) {
    margin-right: 0px; }
  .postImgContainer:nth-child(-n+4) {
    margin-top: 0px; } }

@media only screen and (min-width: 1008px) {
  .postImgContainer:nth-child(5n) {
    margin-right: 0px; }
  .postImgContainer:nth-child(-n+5) {
    margin-top: 0px; } }

.postImgFrame {
  padding-bottom: 100%;
  position: relative; }

.postImg {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center; }

.galleryLine {
  margin: 0.1rem 0 1rem 0; }
  .theme-light .galleryLine {
    border-top-color: rgba(0, 0, 0, 0.1); }
  .theme-dark .galleryLine {
    border-top-color: rgba(255, 255, 255, 0.7); }

.galleryPosts {
  display: flex;
  flex-direction: column; }

.galleryPost {
  display: none;
  margin-bottom: 10px; }

.galleryPost.active {
  display: block; }

.galleryPostName {
  margin: 0.5rem 0 0;
  display: inline-block;
  font-weight: 500;
  font-size: 1.4rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif; }
  @media only screen and (max-width: 640px) {
    .galleryPostName {
      padding: 0 5px; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .galleryPostName {
      padding: 0 5px; } }
  .theme-light .galleryPostName {
    color: black; }
  .theme-dark .galleryPostName {
    color: #dcdcdc; }

.theme-light .galleryPostName:hover {
  color: black; }

.theme-dark .galleryPostName:hover {
  color: #bd1111; }

.galleryPostTags {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin-top: 5px; }

.projects, .projectsContainer {
  display: flex;
  flex-direction: column; }

.projectPreview.disabled {
  display: none; }

.projectInfo {
  display: flex; }
  @media only screen and (max-width: 640px) {
    .projectInfo {
      flex-direction: column; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .projectInfo {
      flex-direction: row; } }
  @media only screen and (min-width: 1008px) {
    .projectInfo {
      flex-direction: row; } }

.projectPreviewImage {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  object-fit: contain; }
  @media only screen and (max-width: 640px) {
    .projectPreviewImage {
      max-width: 200px;
      max-height: 200px;
      margin: auto; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .projectPreviewImage {
      width: 200px;
      height: 200px; } }
  @media only screen and (min-width: 1008px) {
    .projectPreviewImage {
      width: 200px;
      height: 200px; } }

.projectRightColumn {
  display: block;
  flex-grow: 1;
  flex-shrink: 1; }

.projectName {
  display: block;
  font-size: 1.5rem; }

.projectDescription {
  display: block; }

.projectLink {
  display: block; }

.projectLink a {
  margin-left: 5px; }

.projectImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative; }

.projectImageContainer {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative; }
  @media only screen and (max-width: 640px) {
    .projectImageContainer {
      flex-basis: calc((100% - 4px) / 3);
      margin-right: 2px;
      margin-top: 2px; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .projectImageContainer {
      flex-basis: calc((100% - 30px) / 4);
      margin-right: 10px;
      margin-top: 10px; } }
  @media only screen and (min-width: 1008px) {
    .projectImageContainer {
      flex-basis: calc((100% - 100px) / 5);
      margin-right: 25px;
      margin-top: 25px; } }

.projectImageFrame {
  padding-bottom: 100%;
  position: relative; }

@media only screen and (max-width: 640px) {
  .projectImageContainer:nth-child(3n) {
    margin-right: 0px; }
  .projectImageContainer:nth-child(-n+3) {
    margin-top: 0px; } }

@media only screen and (min-width: 641px) and (max-width: 1007px) {
  .projectImageContainer:nth-child(4n) {
    margin-right: 0px; }
  .projectImageContainer:nth-child(-n+4) {
    margin-top: 0px; } }

@media only screen and (min-width: 1008px) {
  .projectImageContainer:nth-child(5n) {
    margin-right: 0px; }
  .projectImageContainer:nth-child(-n+5) {
    margin-top: 0px; } }

.projectImage {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center; }

.projectTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.clicable {
  cursor: pointer; }

#content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto; }
  @media only screen and (max-width: 640px) {
    #content {
      padding: 0px; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    #content {
      /*padding:0px 10px;*/ } }
  @media only screen and (min-width: 1008px) {
    #content {
      /*padding:0px 10px;*/ } }

#footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  /*height:70px;*/
  position: relative;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 10%; }
  .theme-light #footer {
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.3); }
  .theme-dark #footer {
    box-shadow: 0px -4px 3px 1px black; }

@media only screen and (max-width: 640px) {
  #menuButtons {
    flex-direction: column; } }

@media only screen and (min-width: 641px) and (max-width: 1007px) {
  #menuButtons {
    flex-direction: row; } }

@media only screen and (min-width: 1008px) {
  #menuButtons {
    flex-direction: row; } }

.pageContainer, .page404 {
  display: flex;
  margin: auto;
  overflow-x: hidden; }
  @media only screen and (max-width: 640px) {
    .pageContainer, .page404 {
      width: 100%; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .pageContainer, .page404 {
      width: 100%; } }
  @media only screen and (min-width: 1008px) {
    .pageContainer, .page404 {
      width: 1000px; } }

#routeContent {
  overflow-x: hidden; }

.header {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  /*border-bottom:1px solid black;*/ }
  @media only screen and (max-width: 640px) {
    .header {
      height: 45px;
      padding: 0px 5%; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .header {
      height: 50px;
      padding: 0px 1%; }
      .theme-light .header {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3); }
      .theme-dark .header {
        box-shadow: 0px 4px 3px 1px black; } }
  @media only screen and (min-width: 1008px) {
    .header {
      height: 70px;
      padding: 0px 10%; }
      .theme-light .header {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3); }
      .theme-dark .header {
        box-shadow: 0px 4px 3px 1px black; } }

.headerTitleText {
  font-size: 25px;
  font-family: Oswald;
  letter-spacing: 0.1em;
  font-weight: 600;
  cursor: pointer; }
  .theme-light .headerTitleText {
    color: #444444; }
  .theme-dark .headerTitleText {
    color: #dcdcdc; }

.headerTitleText:hover {
  text-decoration: underline; }
  .theme-light .headerTitleText:hover {
    color: #000; }
  .theme-dark .headerTitleText:hover {
    color: #bd1111; }

.headerPageTitle {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 640px) {
    .headerPageTitle {
      flex-basis: 100%; } }

.headerButtonBlock {
  display: flex;
  flex-direction: row;
  flex-grow: 1; }
  @media only screen and (max-width: 640px) {
    .headerButtonBlock {
      justify-content: space-evenly;
      border-top: 2px solid;
      border-bottom: 2px solid; }
      .theme-light .headerButtonBlock {
        border-bottom-color: #bb0000;
        border-top-color: #bb0000; }
      .theme-dark .headerButtonBlock {
        border-bottom-color: #dcdcdc;
        border-top-color: #dcdcdc; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .headerButtonBlock {
      justify-content: center; } }
  @media only screen and (min-width: 1008px) {
    .headerButtonBlock {
      justify-content: center;
      flex-basis: 33%; } }

.footerButtonBlock {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center; }

.headerMainLinks {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1; }
  @media only screen and (min-width: 1008px) {
    .headerMainLinks {
      flex-basis: 33%; } }

.link.active {
  font-weight: 600; }
  .theme-light .link.active {
    color: #272727; }
  .theme-dark .link.active {
    color: #fff; }

.link {
  font-family: Roboto, "Segoe UI", Arial, sans-serif;
  font-weight: 300;
  white-space: nowrap;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
  padding: .5rem .5rem; }
  .theme-light .link {
    color: #808080; }
  .theme-dark .link {
    color: #dcdcdc; }
  @media only screen and (max-width: 640px) {
    .link {
      width: 100%;
      text-align: center;
      /*box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);*/ } }

.theme-light .link:hover {
  color: #000; }

.theme-dark .link:hover {
  color: #bd1111; }

.menuSeparator {
  border: none; }
  .theme-light .menuSeparator {
    background-color: gainsboro; }
  .theme-dark .menuSeparator {
    background-color: gainsboro; }
  @media only screen and (max-width: 640px) {
    .menuSeparator {
      height: 1px;
      margin: 0 5px; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .menuSeparator {
      width: 1px;
      margin: 0;
      height: 50%; } }
  @media only screen and (min-width: 1008px) {
    .menuSeparator {
      width: 1px;
      margin: 0;
      height: 50%; } }

.linksSmallContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0 15%; }
  .theme-light .linksSmallContainer {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3); }
  .theme-dark .linksSmallContainer {
    box-shadow: 0px 4px 3px 1px black; }

.headerButton:hover {
  transition: box-shadow 1s; }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .theme-light .headerButton:hover {
      box-shadow: inset 0px -2px 0px 0px #808080; }
    .theme-dark .headerButton:hover {
      box-shadow: inset 0px -4px 0px 0px #dcdcdc; } }
  @media only screen and (min-width: 1008px) {
    .theme-light .headerButton:hover {
      box-shadow: inset 0px -2px 0px 0px #808080; }
    .theme-dark .headerButton:hover {
      box-shadow: inset 0px -4px 0px 0px #dcdcdc; } }

/*.footerButton:hover
{
	box-shadow:inset 0px 0px 8px 4px grey;
	transition: box-shadow 1s;
}*/
.theme-light .headerButton > a {
  color: #000000; }

.theme-dark .headerButton > a {
  color: #e4e4e4; }

.theme-light .headerButton > a:hover {
  color: #0000FF; }

.theme-dark .headerButton > a:hover {
  color: #bd1111; }

.headerButton {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  @media only screen and (max-width: 640px) {
    .headerButton {
      height: 40px;
      padding: 7px; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .headerButton {
      padding: 0px 7px; } }
  @media only screen and (min-width: 1008px) {
    .headerButton {
      padding: 0px 7px; } }

html, body {
  height: 100vh; }

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1000; }
  .theme-light #background {
    background-color: #FFFFFF; }
  .theme-dark #background {
    background-color: #0e0e0e; }

.theme-light #rootLayout {
  color: #444444; }

.theme-dark #rootLayout {
  color: #dcdcdc; }

#root, #rootLayout, .containerMain {
  height: 100%; }

#rootLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }

.content {
  flex: 1 0 auto;
  position: relative;
  padding: 10px 0px; }

.modalImageViewerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.modalImageViewerBackground {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.75;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%; }

.modalImageViewerWindow {
  user-select: none;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: black;
  position: relative; }
  @media only screen and (max-width: 640px) {
    .modalImageViewerWindow {
      width: 100%;
      height: 100%; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .modalImageViewerWindow {
      width: 90%;
      height: 90%; } }
  @media only screen and (min-width: 1008px) {
    .modalImageViewerWindow {
      max-width: 90%;
      max-height: 90%;
      width: 1000px;
      height: 1000px; } }

.modalImageViewerHeader {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-end;
  /*height:0px;*/
  width: 100%; }

.modalImageViewerCloseButton {
  filter: drop-shadow(0px 0px 4px black);
  border: none;
  /*position:absolute;*/
  /*top:0px;
	right:0px;*/
  z-index: 3000;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.25;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px; }

.modalImageViewerCloseButton:hover {
  opacity: 1.0; }

.modalImageViewerCloseButton::before {
  content: '\D7'; }

.postModalImg {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  object-fit: contain;
  object-position: center; }

.modalImageViewerLeftButton, .modalImageViewerRightButton {
  filter: drop-shadow(0px 0px 4px black);
  display: flex;
  z-index: 1000;
  /*justify-content: center;*/
  align-items: center;
  opacity: 0.25;
  color: white;
  font-size: 40px;
  width: 100%;
  height: 100%; }

.modalImageViewerLeftButton {
  justify-content: flex-start;
  padding-left: 20px;
  top: 0px;
  bottom: 0px;
  left: 0px; }

.modalImageViewerRightButton {
  justify-content: flex-end;
  padding-right: 20px;
  top: 0px;
  bottom: 0px;
  right: 0px; }

.modalImageViewerLeftButton.active, .modalImageViewerRightButton.active {
  cursor: pointer; }

.modalImageViewerLeftButton.active:hover, .modalImageViewerRightButton.active:hover {
  opacity: 1; }

.modalImageViewerLeftButton::before {
  content: "<"; }

.modalImageViewerRightButton::before {
  content: ">"; }

.modalImageViewerBody {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: auto;
  flex-grow: 1;
  flex-shrink: 1; }
  @media only screen and (max-width: 640px) {
    .modalImageViewerBody {
      padding: 0px; } }
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .modalImageViewerBody {
      padding: 20px; } }
  @media only screen and (min-width: 1008px) {
    .modalImageViewerBody {
      padding: 40px; } }

.modalImageViewerFooter {
  display: flex;
  position: relative;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0; }

.modalImageViewerButtons {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.modalImageViewerOpenOriginal {
  margin: 20px;
  color: gray; }

.modalImageViewerOpenOriginal:visited {
  color: gray; }

.modalImageViewerOpenOriginal:hover {
  color: white;
  text-decoration: none; }

.loaderBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(93, 92, 92, 0.5);
  z-index: 10000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.loader {
  display: block; }

.loader div {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
  animation: loader-ellipsis 1.2s ease-in-out infinite; }

.loader div:nth-child(1) {
  animation-delay: 0s; }

.loader div:nth-child(2) {
  animation-delay: 0.2s; }

.loader div:nth-child(3) {
  animation-delay: 0.4s; }

@keyframes loader-ellipsis {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }

.page404 {
  padding: 10px;
  font-size: large;
  font-weight: bold; }
  .theme-light .page404 {
    color: #444444; }
  .theme-dark .page404 {
    color: #dcdcdc; }

#errorMessage {
  justify-content: center;
  font-size: 20px;
  flex-direction: column; }
  @media only screen and (max-width: 640px) {
    #errorMessage {
      padding: 10px; } }

.languageButtonContainer {
  flex-basis: 50%;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 0px 3px; }

.languageSwitchContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 6px; }

.footerButton {
  display: block;
  cursor: pointer;
  user-select: none;
  padding: 3px 7px;
  font-size: 1rem;
  width: fit-content;
  width: max-content;
  font-weight: 500;
  font-family: Helvetica, Arial, sans-serif; }
  .theme-light .footerButton {
    color: #000;
    background-color: #a2a2a2; }
  .theme-dark .footerButton {
    color: #dcdcdc;
    background-color: #1f1f1f; }

.theme-light .footerButton.active {
  color: #fff;
  background-color: #2573d8; }

.theme-dark .footerButton.active {
  color: #dcdcdc;
  background-color: #bd1111; }

.theme-light .footerButton.active:hover {
  color: #fff;
  background-color: #23599e; }

.theme-dark .footerButton.active:hover {
  color: #000;
  background-color: #ab0c0c; }

.theme-light .footerButton:hover {
  color: #fff;
  background-color: #595959; }

.theme-dark .footerButton:hover {
  color: #000;
  background-color: #FFF; }

.leftLanguageButton {
  margin-left: auto; }
