.aboutContainer
{
    flex-direction:column;
    padding:1em;
}
.aboutParagraph
{
    margin: 0.65em 0;
}
.aboutEntry
{
    display:block;
    border-spacing:10px;
}
.aboutHeader
{
    width:100%;
    text-align:center;
    font-size:2rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom:0.5rem;
}
.aboutSeparator
{
    height:1px;
	@include themify($themes)
    {
        background-color:themed('aboutSectionColor');
    }
    width:100%;
    border:none;
    margin: 0.2rem 0;
}
.aboutSection
{
	@include themify($themes)
    {
        color:themed('aboutSectionColor');
    }
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Helvetica, Arial, sans-serif;
}
.aboutSpoiler
{
	@include themify($themes)
    {
        background-color:themed('textColor');
        color:themed('textColor');
    }
}
.aboutSpoiler:hover
{
	@include themify($themes)
    {
        color:themed('pageBackgroundColor');
    }
}
@include respond-to(handhelds) {
    .aboutEntry-lcol,.aboutEntry-rcol,.aboutEntry-lcol-border
    {
        display:block;
    }
    .aboutEntry-rcol
    {
        padding-left:20px;
    }
  }
@include respond-to(medium-wide) { 
    .aboutEntry-lcol,.aboutEntry-rcol,.aboutEntry-lcol-border
    {
        display:table-cell;
    }
   }
   .aboutEntry-lcol,.aboutEntry-lcol-border
   {
        padding-right:10px;
       @include respond-to(handhelds) {
           display:block;
           margin:10px 0px;
           text-align:start;
         }
       @include respond-to(medium-wide) { 
           width:200px;
           text-align:end;
          }
   }
   .aboutEntry-lcol-border
   {
       @include respond-to(handhelds) {
           border-bottom:1px solid gray;
         }
       @include respond-to(medium-wide) { 
           border-right:1px solid gray;
          }
   }
   .aboutParagraphHeader
   {
       line-height:1.2rem;
   }
.aboutContent
{
    line-height:1.5rem;
    font-family:"Open Sans", Arial, Helvetica, sans-serif;
}