
.comboboxControl
{
    border:1px solid black;
    margin:5px;
    position:relative;
}
.comboboxItem
{
    padding:5px;
}
.comboboxItem:hover
{
    background-color:#00000012;
}
.comboboxItem.selected
{
    background-color:blue;
}
.comboboxInner:hover
{
    background-color:#00000012;
}
.comboboxInner
{
    padding:5px;
    position:relative;
}
.comboboxList
{
    width:100%;
    position:absolute;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
}
.comboboxIcon::before
{
    content: "\25bc";
    position:absolute;
    right:5px;
}

.controlsContainer
{
    display:flex;
    flex-direction:column;
}

.checkboxControl
{
    margin:5px;
    width:70px;
    height:30px;
    border-radius:15px;
    background-color:#9e9e9e;
}
.checkboxControl.checked
{
    background-color:green;
}

.checkboxToggle
{
    width: 30px;
    height:30px;
    border-radius:15px;
    background-color:white;
}
.colorPicker
{
    display:flex;
    flex-direction:column;
    padding:10px;
}
.color-div
{
    width:200px;
    height:100px;
    position:relative;
}
.color-background
{
    z-index:0;
    position:absolute;
    height:100%;
    width:100%;
}
.color-mask2
{
    z-index:2;
    position:absolute;
    height:100%;
    width:100%;
    background: linear-gradient(to top, #000000 0%,  rgba(0, 0, 0, 0) 100%);
}
.color-mask1
{
    z-index:1;
    position:absolute;
    height:100%;
    width:100%;
    background: linear-gradient(to right, #ffffff 0%,  rgba(255, 249, 249, 0) 100%);
}
.hue-div
{
    width:200px;
    height:20px;
    margin:10px 0px 0px 0px;
}
.hue-div
{
    background:linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
}
.floatSliderTrack
{
    width:120px;
    height:16px;
    border-radius:8px;
    border:2px solid gray;
    position:relative;
}
.floatSliderThumb
{
    position:absolute;
    height:30px;
    width:10px;
    background-color:red;
    top:50%;
}
.floatSliderSigns
{
    height:5px;
    width:100%;
    padding:10px 5px;
    border-bottom:2px solid gray;
    border-left:2px solid gray;
    border-right:2px solid gray;
}

.floatSliderInput
{

}