
.noteImage
{
    display:block;
    margin:auto;
    object-fit:contain;
    object-position:center;
    cursor: pointer;
	@include respond-to(handhelds) {
	    max-width:100%;
        max-height:150px;
  	}
	@include respond-to(medium-screens) { 
        max-width:60%;
        max-height:200px;
   	}
	@include respond-to(wide-screens) {
        max-width:60%;
        max-height:400px;
  	}
}
.noteFigure
{
    text-align:center;
    /*font-size: .8rem;*/
}
.notesContainer
{
    flex-direction: column;
    display:flex;
}
.noteContainer
{
    flex-direction: column;
    display:flex;
}
.notes
{
    display:flex;
    flex-direction:column;
}
.notePreview
{
    display:flex;
    width:100%;
    flex-grow:0;
    flex-shrink:0;
    overflow:hidden;
    flex-wrap:nowrap;
    padding:0px 5px;
    @include respond-to(handhelds) {
        flex-direction:column;
    }
	@include respond-to(medium-screens) { 
        flex-direction:row;
        align-items:center;
   	}
	@include respond-to(wide-screens) {
        flex-direction:row;
        align-items:center;
  	}

}
.notePreviewDate
{
    margin-right:5px;
    white-space:nowrap;
}
.notePreviewName{
    overflow:hidden;
}
.noteHeaderLink
{
    text-decoration: none;
	@include themify($themes)
	{
		color:themed('noteTitleColor')
	}
    font-size:1.4rem;
    font-weight:400;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
    display:block;
    @include respond-to(handhelds) {
        white-space:normal;
        overflow-wrap:break-word;
        word-break:break-all;
    }
}
.noteHeaderLink:hover{
    text-decoration:none;
	@include themify($themes)
	{
		color:themed('noteTitleHoverColor')
	}
    width:100%;
}
.noteContent
{
    padding:0px 5px;
    font-family:"Open Sans", Arial, Helvetica, sans-serif;
}
.noteDate,.notePreviewDate
{
	@include themify($themes)
	{
		color:themed('noteDateColor')
	}
}
.caption {
    text-align: center;
    font-size: .8rem;
  }
.noteHeader
{
    padding:0px 5px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.noteName
{
    font-size:1.4rem;
    font-weight:400;
	font-family:Arial, Helvetica, sans-serif;
	@include themify($themes)
	{
		color:themed('noteTitleColor')
	}
}
.noteTable thead{
	@include themify($themes)
	{
		background-color:themed('noteTableHeadColor')
	}
}
.noteTable th,.noteTable td
{
    padding:5px 10px;
    border:1px solid gray;
}
.noteTable
{
    width:100%;
    overflow-x:auto;
    margin-bottom:5px;
}
.paragraph
{
    margin-bottom:0.5rem;
    overflow-x:auto;
    overflow-y:hidden;
}
.noteContent h1,.noteContent h2,.noteContent h3,.noteContent h4,.noteContent h5,.noteContent h6
{
    margin: 0 0 .5rem 0;
    font-weight:500;
    line-height:1.2;
}
.noteContent h1
{
    font-size:1.4rem;
    margin-bottom:15px;
    padding-bottom:5px;
    border-bottom:1px solid #eaecef;
}
.noteContent h2
{
    font-size:1.3rem;
    padding-bottom:5px;
    border-bottom:1px solid #eaecef;
}
.noteContent h3
{
    font-size:1.2rem;
}
.noteContent h4
{
    font-size:1.15rem;
}
.noteContent h5
{
    font-size:1.1rem;
}
.noteContent h6
{
    font-size:1.05rem;
}