@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");


$small: 321px;
$medium: 641px;
$large: 1008px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $medium - 1) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $medium) and (max-width: $large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large) { @content; }
  }
  @else if $media == medium-wide
  {
	  @media only screen and (min-width: $medium){ @content; }
  }
}

@import "./_themes.scss";


@import "./_common.scss";
@import "./_about.scss";
@import "./_links.scss";
@import "./_modal.scss";
@import "./_notes.scss";
@import "./_posts.scss";

#content
{
	position:relative;
	width:100%;
	height:100%;
	overflow-y:auto;
  	@include respond-to(handhelds) {
  	padding: 0px;}
  	@include respond-to(medium-screens) { 
	/*padding:0px 10px;*/ }
  	@include respond-to(wide-screens) {
	/*padding:0px 10px;*/ }
}

#footer
{
	flex-shrink:0;
	display:flex;
	flex-direction:column;
	width:100%;
	/*height:70px;*/
	position:relative;
	align-items:center;
	flex-wrap:nowrap;
	padding:10px 10%;
	@include themify($themes)
	{
	  box-shadow:themed('footerBoxShadow')
	}
}

#menuButtons
{
  @include respond-to(handhelds) {
  flex-direction:column;
}
  @include respond-to(medium-screens) { 
    flex-direction:row;
 }
  @include respond-to(wide-screens) { 
    flex-direction:row;
}
}


.pageContainer, .page404
{
  display:flex;
  margin:auto;
  @include respond-to(handhelds) {
    width:100%;
}
  @include respond-to(medium-screens) { 
    width:100%;
 }
  @include respond-to(wide-screens) {
    width:1000px;
}
overflow-x:hidden;
}
#routeContent
{
	overflow-x:hidden;
}

.header
{
	flex-shrink:0;
	width:100%;
	display:flex;
	flex-wrap:nowrap;
	@include respond-to(handhelds) {
		height:45px;
		padding:0px 5%;
  	}
	@include respond-to(medium-screens) { 
		height:50px;
		padding:0px 5%;
		@include themify($themes)
		{
			box-shadow:themed('headerBoxShadow')
		}
   	}
	@include respond-to(wide-screens) {
		height:70px;
		padding:0px 10%;
		@include themify($themes)
		{
		  box-shadow:themed('headerBoxShadow')
		}
  	}
	/*border-bottom:1px solid black;*/

}
.headerTitleText
{
	font-size:25px;
	@include themify($themes)
	{
		color:themed('textColor')
	}
	cursor: pointer;
}
.headerTitleText:hover
{
	@include themify($themes)
	{
		color:themed('titleHoverColor')
	}
	text-decoration:underline;
}
.headerPageTitle
{
	height:auto;
	width:auto;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	@include respond-to(handhelds) {
		flex-basis:100%;
  	}
	@include respond-to(medium-screens) { 
		flex-basis:33%;
   	}
	@include respond-to(wide-screens) {
		flex-basis:33%;
  	}
}
.headerButtonBlock
{
	display:flex;
	flex-direction:row;
	flex-shrink:0;
	@include respond-to(handhelds) {
		justify-content: space-evenly;
		border-top:2px solid;
		border-bottom:2px solid;
		@include themify($themes)
		{
			border-bottom-color:themed('menuButtonsBorderColor');
			border-top-color:themed('menuButtonsBorderColor');
		}
  	}
	@include respond-to(medium-screens) { 
		justify-content: center;
		flex-basis:33%;
   	}
   @include respond-to(wide-screens) {
		justify-content: center;
	    flex-basis:33%;
 	}
	//padding:0px 10px;
}
.footerButtonBlock
{
	display:flex;
	flex-direction:row;
	flex-basis:100%;
	justify-content: center;
}
.headerMainLinks
{
	height:auto;
	width:auto;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	flex-basis:33%;
	//cursor:pointer;
}
.link.active
{
	@include themify($themes)
	{
		color:themed('headerLinkActiveColor')
	}
	font-weight:500;
}
.link
{
	white-space:nowrap;
	text-decoration:none;
	@include themify($themes)
	{
		color:themed('headerLinkColor')
	}
	background-color:transparent;
	cursor:pointer;
	display:block;
	padding:.5rem .5rem;
	@include respond-to(handhelds) {
		width:100%;
		text-align:center;
		/*box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);*/
  	}
	@include respond-to(medium-screens) { 

   	}
	@include respond-to(wide-screens) {
  	}
}
.link:hover
{
	@include themify($themes)
	{
		color:themed('headerLinkHoverColor')
	}
}
.menuSeparator
{
	@include themify($themes)
	{
		background-color:themed('menuLineColor');
	}
	border:none;
	@include respond-to(handhelds) {
		height:1px;
		margin:0 5px;
  	}
	@include respond-to(medium-screens) { 
		width:1px;
		margin:0;
		height:50%;
   	}
	@include respond-to(wide-screens) {
		width:1px;
		margin:0;
		height:50%;
  	}
}
.linksSmallContainer
{
	display:flex;
	flex-direction:column;
	flex-shrink:0;
	flex-grow:0;
	padding:0 15%;
	@include themify($themes)
	{
	  box-shadow:themed('headerBoxShadow')
	}
}
.headerButton:hover
{
	@include respond-to(handhelds) {
  	}
	@include respond-to(medium-screens) { 
		@include themify($themes)
		{
			box-shadow:themed('headerButtonBoxShadow')
		}
   	}
   @include respond-to(wide-screens) {
		@include themify($themes)
		{
			box-shadow:themed('headerButtonBoxShadow')
		}
 	}
	transition: box-shadow 1s;
}
/*.footerButton:hover
{
	box-shadow:inset 0px 0px 8px 4px grey;
	transition: box-shadow 1s;
}*/
.headerButton>a
{
	@include themify($themes)
	{
		color:themed('headerButtonColor')
	}
}
.headerButton>a:hover
{
	@include themify($themes)
	{
		color:themed('headerButtonIconHoverColor')
	}
}
.headerButton
{
	width:auto;
	height:auto;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	@include respond-to(handhelds) { 
		height:40px;
		padding:7px;
   	}
	@include respond-to(medium-screens) { 
		padding:0px 7px;
   	}
	@include respond-to(wide-screens) {
		padding:0px 7px;

  	}
}

html,body
{
	height:100vh;
}
#background
{
	width:100%;
	height:100%;
	position:fixed;
	z-index:-1000;
	@include themify($themes)
	{
		background-color:themed('pageBackgroundColor')
	}
}
#rootLayout
{
	@include themify($themes)
	{
		color:themed('textColor')
	}
}
#root,#rootLayout,.containerMain
{
	height:100%;
}
#rootLayout
{
	display:flex;
	flex-direction:column;
	height:100%;
	width:100%;
}
.content
{
	flex:1 0 auto;
	position:relative;
	padding:10px 0px;
}

.modalImageViewerContainer
{
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	z-index:1000;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.modalImageViewerBackground
{
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	background-color:black;
	opacity:0.75;
	z-index:1000;
	position:fixed;
	width:100%;
	height:100%;
}
.modalImageViewerWindow
{
	user-select: none;
	z-index:1000;
	display:flex;
	flex-direction:column;
	background-color:black;
	position:relative;
	@include respond-to(handhelds) {
		width:100%;
		height:100%;
	}
	@include respond-to(medium-screens) { 
		width:90%;
		height:90%;
	}
	@include respond-to(wide-screens) { 
		max-width:90%;
		max-height:90%;
		width:1000px;
		height:1000px;
	}
}
.modalImageViewerHeader
{
	flex-grow:0;
	flex-shrink:0;
	display:flex;
	flex-direction:row;
	position:relative;
	justify-content: flex-end;
	/*height:0px;*/
	width:100%;
}
.modalImageViewerCloseButton
{
	filter:drop-shadow(0px 0px 4px black);
	border:none;
	/*position:absolute;*/
	/*top:0px;
	right:0px;*/
	z-index:3000;
	width:40px;
	height:40px;
	background-color:transparent;
	cursor:pointer;
	opacity:0.25;
	color:white;
	display:flex;
	justify-content: center;
	align-items:center;
	font-size: 35px;
}
.modalImageViewerCloseButton:hover
{
	opacity:1.0;
}
.modalImageViewerCloseButton::before
{
	content:'\00d7';
}
.postModalImg
{
	width:100%;
	height:auto;
	display:block;
	position:relative;
	object-fit:contain;
	object-position:center;
}
.modalImageViewerLeftButton, .modalImageViewerRightButton
{
	filter:drop-shadow(0px 0px 4px black);
	display:flex;
	z-index:1000;
	/*justify-content: center;*/
	align-items:center;
	opacity:0.25;
	color:rgba(255, 255, 255, 1);
	font-size:40px;
	width:100%;
	height:100%;
}
.modalImageViewerLeftButton
{
	justify-content: flex-start;
	padding-left:20px;
	top:0px;
	bottom:0px;
	left:0px;
}
.modalImageViewerRightButton
{
	justify-content: flex-end;
	padding-right:20px;
	top:0px;
	bottom:0px;
	right:0px;
}
.modalImageViewerLeftButton.active,.modalImageViewerRightButton.active
{
	cursor: pointer;
}
.modalImageViewerLeftButton.active:hover,.modalImageViewerRightButton.active:hover
{
	opacity:1;
}
.modalImageViewerLeftButton::before
{
	content:"\003c";
}
.modalImageViewerRightButton::before
{
	content:"\003e";
}
.modalImageViewerBody
{
	@include respond-to(handhelds) {
		padding:0px;
	}
	@include respond-to(medium-screens) { 
		padding:20px;
	}
	@include respond-to(wide-screens) { 
		padding:40px;
	}
	position:relative;
	display:flex;
	flex-direction:row;
	overflow:hidden;
	width:100%;
	height:auto;
	flex-grow:1;
	flex-shrink:1;
}
.modalImageViewerFooter
{
	display:flex;
	position:relative;
	width:100%;
	flex-grow:0;
	flex-shrink:0;
}
.modalImageViewerButtons
{
	display:flex;
	flex-direction:row;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.modalImageViewerOpenOriginal
{
	margin:20px;
	color:gray;
}
.modalImageViewerOpenOriginal:visited
{
	color:gray;
}
.modalImageViewerOpenOriginal:hover
{
	color:white;
	text-decoration:none;
}

.loaderBackground
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(93, 92, 92, 0.5);
	z-index:10000;
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
}
.loader{
	display:block;
}
.loader div{
	display:inline-block;
	width:15px;
	height:15px;
	border-radius:50%;
	margin:3px;
	background-color:white;
	animation: loader-ellipsis 1.2s ease-in-out infinite;
}
.loader div:nth-child(1)
{
	animation-delay: 0s;
}
.loader div:nth-child(2)
{
  	animation-delay: 0.2s;
}
.loader div:nth-child(3)
{
  	animation-delay: 0.4s;
}
@keyframes loader-ellipsis
{
	0%, 100%{
		opacity:1;
	}
	50%{
		opacity:0.25;
	}
}

.page404
{
	padding:10px;
	font-size:large;
	font-weight:bold;
	color:black;
}

#errorMessage
{
	justify-content:center;
	font-size:20px;
	flex-direction:column;
	@include respond-to(handhelds) {
		padding:10px;
	}
}
.languageButtonContainer
{
	flex-basis:50%;
	flex-shrink:0;
	flex-grow:1;
	padding:0px 3px;
}
.languageSwitchContainer
{
	width:100%;
	display:flex;
	flex-direction:row;
	margin-top:6px;
}
.footerButton
{
	cursor: pointer;
	user-select:none;
	padding: 3px 7px;
	font-size:1rem;
	width:fit-content;
	font-weight:500;
	@include themify($themes)
	{
	  color:themed('tagColor');
	  background-color:themed('tagBackground');
	}
}

.footerButton.active
{
	@include themify($themes)
	{
	  color:themed('tagActiveColor');
	  background-color:themed('tagActiveBackground');
	}
}
.footerButton.active:hover
{
	@include themify($themes)
	{
	  color:themed('tagActiveHoverColor');
	  background-color:themed('tagActiveHoverBackground');
	}
}
.footerButton:hover
{
	@include themify($themes)
	{
	  color:themed('tagHoverColor');
	  background-color:themed('tagHoverBackground');
	}
}
.leftLanguageButton
{
	margin-left:auto;
}